* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(72, 89, 72);
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  color: #333565;
}

.top-nav a,
.top-nav li {
  text-decoration: none;
  list-style-type: none;
}

/* LOGO */
.top-nav img {
  max-width: 9rem;
}

/* NAVBAR LIST  */
.nav-li {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.nav-li li:hover {
  color: #e2793b;
  transition: 0.3s ease;
}

/* MAIN FORM  */
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
  background-color: white;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 5px;
}

.main-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.main-form h1 {
  display: flex;
  margin: 0 auto;
  color: rgb(72, 89, 72);
  font-size: 32px;
  border-radius: 5px;
}

.main-form fieldset {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  transition: all 3s;
  padding: 1rem 1rem 1rem;
  position: relative;
  background-color: rgb(209, 217, 210);
  border-radius: 5px;
}
.form-file div {
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  outline: dashed 1px;
  padding: 5rem 5rem 0;
  border-radius: 5px;
}

.form-file p {
  font-size: 16px;
  color: #7e8f7b;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

.form-file div:hover {
  background-color: rgb(185, 202, 187);
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #475844;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 1rem 1rem;
  position: relative;
}

.file-btn i {
  padding-right: 1rem;
}

/* FORM INPUT */

input[type="text"],
textarea {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid #8c968a;
  border-radius: 5px;
  background-color: #f1f8ef;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}

label[for="name"],
label[for="text"] {
  color: rgb(72, 89, 72);
  font-weight: 500;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #475844;
  border-radius: 3px;
}

/* BUTTON  */

.main-form button {
  background-color: #333467;
  border: none;
  color: white;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  /* display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-form button:hover {
  background: #e2793b;
  transform: translateY(-0.25em);
  transition: all 0.25s;
}

.main-form a {
  color: green;
  text-decoration: none;
  cursor: pointer;
  padding-top: 2rem;
  display: flex;
  /* margin: 0 auto;
  flex-direction: column;
  text-align: center; */
  font-weight: 500;
}
