* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(72, 89, 72);
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  color: #333565;
}

.top-nav a,
.top-nav li {
  text-decoration: none;
  list-style-type: none;
}

/* LOGO */
.top-nav img {
  max-width: 9rem;
}

/* NAVBAR LIST  */
.nav-li {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.nav-li li:hover {
  color: #e2793b;
  transition: 0.3s ease;
}

/* MAIN FORM  */
.main-form {
  display: flex;
  transition: all 0.2s;
  flex-direction: column;
  background-color: white;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}

.main-form h1 {
  display: flex;
  margin: 0 auto;
  color: rgb(72, 89, 72);
  font-size: 32px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  transition: all 3s;
  padding: 1rem 1rem 0;
  position: relative;
  background-color: rgb(209, 217, 210);
}
