* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsible for the navigatie bar */

/* .nav-bar {
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: le;
  text-decoration: none;
  position: fixed;
  z-index: 1;
}

.nav-bar-logo {
  display: inline-block;
}

.nav-bar-li {
  list-style: none;
  display: flex;
}

.nav-bar-item a {
  /* display: inline-block; 
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
  color: #333565;
  font-weight: bold;
}

.nav-bar-item:hover a {
  color: #e2793b;
}
/* Responsible for hamburger menu / hidden for desktop version  

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: rgb(26, 26, 77);
  transition: all 0.3s ease;
} */

.top-nav {
  background-color: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  color: #333565;
  font-weight: bold;
}

.top-nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1.5rem;
}
